.todoList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 30rem;
    padding: 1rem;
    border-radius: 0.5rem;
    list-style: none;
    background-color: #f5fafa;
}

.enter {
    opacity: 0;
    transform: translateY(-10px);
}

.enterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.exit {
    opacity: 1;
    transform: translateY(0);
}

.exitActive {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
