.todosSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.todosControls {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

@media (max-width: 768px) {
    .todosControls {
        flex-direction: column;
        justify-content: normal;
    }
}
