.overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    /* background: rgba(0, 0, 0, 0); удалить - ??? */
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}

.overlayVisible {
    opacity: 1;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: auto;
}
